<div class="container">
    <div #vc></div>
</div>
<div class="row">
    <div class="container">
        <form>
            <label for="stl-file">Choose File</label>
            <select id="stl-file" [formControl]="file">
                <option value="assets/Eiffel_tower_sample.STL">Eiffel Tower</option>
                <option value="assets/Menger_sponge_sample.stl">Menger sponge </option>
                <option value="assets/arge_troll3mf.3mf">Large troll</option>
                <option value="assets/Stanford_Bunny_sample.stl">Stanford Bunny</option>
            </select>
            <button (click)="onChange()">Update Name</button>
        </form>
    </div>
</div>
<router-outlet></router-outlet>